/*---------------------------------------*/
/* expenses and incomes forms */
/*---------------------------------------*/

#new-record-form {
    text-align: center;
    padding-bottom: 20px;
    width: 30%;
    margin-left: 35%;
}

.form-control {
    text-align: center;
    margin: 5px 0;
}